<footer class="footer footer-horizontal footer-center rounded p-10 text-sm">
    <div class="grid grid-flow-col gap-4">
        <a>
            {{ partial:components/spotify-status }}
                {{ svg src="/assets/svg/spotify.svg" class="size-6" }}
            {{ /partial:components/spotify-status }}
        </a>
    </div>
    <aside>
        <div class="flex flex-row items-center gap-x-2 text-sm">
            Powered by
            <a href="https://laravel.com">
                {{ svg src="/assets/svg/laravel.svg" class="size-6 transform transition-transform duration-150 hover:scale-110" }}
            </a>
            <a href="https://statamic.com">
                {{ svg src="/assets/svg/statamic.svg" class="size-6 transform transition-transform duration-150 hover:scale-110" }}
            </a>
        </div>
    </aside>
</footer>
