{{ spotifyStatus }}
<a
    class="flex flex-col justify-center items-start gap-1"
    href="{{ href }}"
    rel="noreferrer"
    target="_blank"
>
    <h2 class="text-center text-neutral-300 text-xs">Currently listening</h2>
    <div class="flex flex-row items-center justify-center space-x-2">
        {{ slot }}
        <img
            class="rounded-sm"
            src="{{ albumImageSrc }}"
            alt="Spotify listening to"
            height="30"
            width="30"
        />
        <div class="flex max-w-[16rem] flex-col text-left">
            <h4
                class="line-clamp-1 overflow-hidden text-xs font-semibold text-ellipsis"
            >
                {{ trackTitle }}
            </h4>
            <p class="line-clamp-1 overflow-hidden text-xs text-ellipsis">
                {{ artist }}
            </p>
        </div>
    </div>
</a>
{{ /spotifyStatus }}
