<div class="dropdown">
    <ul
        tabindex="0"
        class="dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl"
    >
        {{ settings:themes }}
            <li>
                <input
                    type="radio"
                    name="theme-dropdown"
                    class="theme-controller btn btn-sm btn-block btn-ghost w-full justify-start"
                    aria-label="{{ value }}"
                    value="{{ value }}"
                />
            </li>
        {{ /settings:themes }}
    </ul>
</div>
