SPOTIFY_REFRESH_TOKEN=Follow the Spotify API guides for retrieving a one time refresh token
SPOTIFY_CLIENT_ID=Use your own Spotify credentials!
SPOTIFY_CLIENT_SECRET=Use your own Spotify credentials!
VERCEL_GIT_COMMIT_SHA=Used for the build number, this can be any commit in the repository for local development or injected by your build tool of choice
DATABASE_URL=Use you own database!
