# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
src/components/ui
src/lib/utils.ts

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


# rust
Secrets.toml
/target
/Cargo.lock
/examples/rust/**/target
/examples/rust/**/node_modules
/examples/rust/**/Cargo.lock
.sqlx

# zig
/examples/zig/**/zig-cache
/examples/zig/**/zig-out

# dotnet
/examples/dotnet/**/obj
/examples/dotnet/**/bin
