node_modules
*.log*
.nuxt
.nitro
.cache
.output
.data
.env
dist
.vercel

Cargo.lock
target/
examples/rust/**/target
examples/rust/**/Cargo.lock
examples/rust/**/node_modules
examples/zig/**/zig-cache

server/drizzle
.netlify
.idea