includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - app
        - database
        - routes
        - tests
        - bootstrap/app.php
        - bootstrap/providers.php
        - public/index.php
    tmpDir: .phpstan
    reportUnmatchedIgnoredErrors: true
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\Post>::orderByDesc\(\).#'
            path: app/Models/Post.php
        -
            message: '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\Post>::orderByRaw\(\).#'
            path: app/Models/Post.php
        -
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\Post>::published\(\).#'
            path: app/Queries/AllPostsQuery.php
        -
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\Post>::published\(\).#'
            path: tests/Queries/AllPostsQueryTest.php
        -
            message: '#Dynamic call to static method Illuminate\\View\\View::title\(\).#'
            path: app/Livewire/Pages/BlogPost.php
        -
            message: '#Method App\\Livewire\\Pages\\BlogPost::render\(\) should return Illuminate\\View\\View but returns mixed.#'
            path: app/Livewire/Pages/BlogPost.php