includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - app
        - database
        - routes
        - bootstrap/app.php
        - bootstrap/providers.php
        - public/index.php
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            message: "#Method App\\\\Support\\\\Spotify::getFacadeAccessor\\(\\) has RuntimeException in PHPDoc @throws tag but it's not thrown.#"
            path: app/Support/Spotify.php