includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    reportMaybesInPropertyPhpDocTypes: false
    paths:
        - app/
        - routes/
        - database/
    ignoreErrors:
        - '#Dynamic call to static method Illuminate\\Console\\Scheduling\\Event::hourly\(\).#'
        - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>::orderByDesc\(\).#'
        - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>::select\(\).#'
        # - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>::limit\(\).#'
        # - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany<App\\Models\\[a-zA-Z]+>::pluck\(\).#'
