# Environment variables injected into rust serverless functions with shuttle
SPOTIFY_REFRESH_TOKEN = "Follow the Spotify API guides for retrieving a one time refresh token"
SPOTIFY_CLIENT_ID = "Use your own Spotify credentials!"
SPOTIFY_CLIENT_SECRET = "Use your own Spotify credentials!"
TIMEOUT_DURATION_SECONDS = "Rust serverless function timeouts for local development"