---
import NavbarLink from './NavbarLink.astro';
import { Icon } from 'astro-icon';
---

<header>
  <nav class="mt-4 flex flex-row items-center justify-center gap-x-2 px-6">
    <a href="/" class="pr-2">
      <Icon name="ic:outline-code" class="h-8 w-8 text-neutral-400" />
    </a>
    <NavbarLink href="/">Home</NavbarLink>
    <NavbarLink href="/about">About</NavbarLink>
    <NavbarLink href="/blog">Blog</NavbarLink>
  </nav>
</header>

<style></style>
