---
import {
  getPreferencesForCategory,
  TechnologyPreference,
  TechnologyPreferenceCategory,
} from './preferences/preferences';
import TechnologyPreferenceSection from './TechnologyPreferenceSection.astro';

type PreferenceMeta = {
  category: TechnologyPreferenceCategory;
  preferences: TechnologyPreference[];
};

function getPreferenceCategory(
  category: TechnologyPreferenceCategory
): PreferenceMeta {
  return {
    category,
    preferences: getPreferencesForCategory(category),
  };
}

const preferences: PreferenceMeta[] = [
  getPreferenceCategory('language, frameworks, & ecosystems'),
  getPreferenceCategory('infrastructure & devops'),
  getPreferenceCategory('databases & hosting platforms'),
  getPreferenceCategory('tools & productivity'),
];
---

<div class="flex flex-col gap-y-12 pt-12">
  {
    preferences.map(({ category, preferences }) => (
      <TechnologyPreferenceSection preferences={preferences} title={category} />
    ))
  }
</div>
