---
import {
  getPreferencesForCategory,
  TechnologyPreference,
  TechnologyPreferenceCategory,
} from './preferences/preferences';
import TechnologyPreferenceSection from './TechnologyPreferenceSection.astro';

type PreferenceMeta = {
  category: TechnologyPreferenceCategory;
  preferences: TechnologyPreference[];
};

const preferences: PreferenceMeta[] = [
  {
    category: 'language, frameworks, & ecosystems',
    preferences: getPreferencesForCategory(
      'language, frameworks, & ecosystems'
    ),
  },
  {
    category: 'infrastructure & devops',
    preferences: getPreferencesForCategory('infrastructure & devops'),
  },
];
---

<div class="flex flex-col space-y-2">
  {
    preferences.map(({ category, preferences }) => (
      <TechnologyPreferenceSection preferences={preferences} title={category} />
    ))
  }
</div>
