<div class="content relative mx-auto mt-16 max-w-5xl">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}
    <article class="content mx-auto max-w-2xl pt-32">
        <p class="text-teal mb-0 font-medium">
            {{ heading ?? "Articles about" }}
        </p>
        <h1>{{ title }}</h1>
        {{ content }}
    </article>
</div>
<div class="mx-auto mb-32 max-w-2xl">
    {{ entries }}
        <div class="mb-16">
            <h2 class="mb-4">
                <a
                    href="{{ url }}"
                    class="hover:text-teal text-2xl leading-tight font-bold tracking-tight"
                >
                    {{ title | widont }}
                </a>
            </h2>
            <p class="text-gray-600">
                <span
                    class="text-sm font-medium tracking-widest text-gray-800 uppercase"
                >
                    {{ date }}
                </span>
                &mdash;
                {{ excerpt | widont ?? content | strip_tags | safe_truncate(150, '...') }}
            </p>
        </div>
    {{ /entries }}
</div>
