<div class="px-4 py-16 lg:px-8">
    <div class="mx-auto max-w-3xl">
        <h1 class="text-center text-4xl font-semibold">
            {{ title }}
        </h1>
        <div class="flex flex-row items-center justify-center gap-4 py-4 text-xs text-neutral-500">
            {{ topics limit="1" }}
                <span class="badge badge-neutral">#{{ title }}</span>
            {{ /topics }}
            <span class="text-xs">{{ date format="M j, Y" }}</span>
        </div>
        <div
            class="prose prose-invert prose-pre:border prose-pre:border-neutral-500/20 prose-pre:shadow-md mt-4 max-w-full"
        >
            {{ cache :key="slug" }}
                {{ content }}
            {{ /cache }}
        </div>
    </div>
</div>
