---
import Header from '@/components/layout/Header.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
  <Header title="Not found" />
  <p class="mt-6 text-sm text-neutral-300 sm:text-center">
    Howdy stranger, looks like you may be lost...
  </p>
</BaseLayout>
