<div class="mx-auto py-6 max-w-3xl px-4 sm:px-0">
    <div class="list bg-base-200 rounded-box shadow-md">
        {{ if { get:topic } }}
            {{ collection:blogs status:is="published" taxonomy:topics="{get:topic}" sort="date:desc" }}
                {{ partial:blogs/partials/blog-preview }}
            {{ /collection:blogs }}
        {{ else }}
            {{ collection:blogs status:is="published" sort="date:desc" }}
                {{ partial:blogs/partials/blog-preview }}
            {{ /collection:blogs }}
        {{ /if }}
    </div>
</div>
