<div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8 py-8">
    <div class="space-y-0 divide-y divide-[#222222]">
        {{ if { get:topic } }}
            {{ collection:blogs status:is="published" taxonomy:topics="{get:topic}" sort="date:desc" }}
                {{ partial:blogs/partials/blog-preview }}
            {{ /collection:blogs }}
        {{ else }}
            {{ collection:blogs status:is="published" sort="date:desc" }}
                {{ partial:blogs/partials/blog-preview }}
            {{ /collection:blogs }}
        {{ /if }}
    </div>
</div>
