---
import { Icon } from 'astro-icon';
import ResumeDownload from './ResumeDownload';
import SocialButton, { Props as SocialButtonProps } from './SocialButton.astro';

const socials: SocialButtonProps[] = [
  {
    display: 'Twitter',
    name: 'Twitter',
    href: 'https://twitter.com/_joeyMcKenzie',
    icon: 'mdi:twitter',
  },
  {
    display: 'GitHub',
    name: 'GitHub',
    href: 'https://github.com/JoeyMcKenzie',
    icon: 'mdi:github',
  },
  {
    display: 'LinkedIn',
    name: 'LinkedIn',
    href: 'https://linkedin.com/in/JoeyMcKenzie',
    icon: 'mdi:linkedin',
  },
];
---

<div
  class="mx-auto grid max-w-screen-md grid-cols-1 gap-y-2 pt-6 sm:grid-cols-4 sm:gap-x-2 sm:gap-y-0"
>
  {
    socials.map(({ display, href, icon, name }) => (
      <SocialButton display={display} name={name} href={href} icon={icon} />
    ))
  }
  <ResumeDownload client:load>
    <Icon
      name="mdi:tray-arrow-down"
      class="ml-3 -mr-1 h-5 w-5"
      aria-hidden="true"
    />
  </ResumeDownload>
</div>
