---
import HtmlTag from './HtmlTag.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<span
  class="flex flex-row items-center space-x-0 text-neutral-400 sm:justify-center sm:space-x-2"
>
  <HtmlTag additionalClasses="hidden sm:block text-xl" tagName="page">
    <h2
      class="font-mono text-2xl font-semibold tracking-tight text-neutral-400 sm:text-3xl"
    >
      {title}
    </h2>
  </HtmlTag>
</span>
