<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link rel="icon" href="/assets/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />

    <!-- CSS -->
    <link href="/assets/css/main.min.css" type="text/css" rel="stylesheet" />

    <!-- htmx... because Primeagen said so -->
    <script src="/assets/js/htmx.min.js"></script>

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ canonicalURL | safe }}" />

    <!-- Primary Meta Tags -->
    <title>joeymckenzie.tech | {{ title }}</title>
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ openGraphURL | safe }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ openGraphImage | safe }}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ canonicalURL | safe }}" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ description }}" />
    <meta property="twitter:image" content="{{ twitterImage | safe }}" />
  </head>
  <body class="h-full bg-neutral-900">
    <main class="mx-auto max-w-screen-lg px-6 pt-12 lg:px-8">
      {% include "components/header.html" %} {% block content %} {% endblock
      content %} {% include "components/footer.html" %}
    </main>
  </body>
</html>
