---
import { Icon } from 'astro-icon';

type Props = {
  href: string;
  albumImageSrc: string;
  trackTitle: string;
  artist: string;
};

const { href, albumImageSrc, trackTitle, artist } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  class="flex flex-col space-y-1 pt-6 md:pt-0"
>
  <h2
    class="inline-flex justify-center font-ubuntu text-xs text-neutral-400 md:justify-start"
  >
    Now listening
  </h2>
  <div class="flex flex-row items-center justify-center space-x-2">
    <Icon class="h-6 w-6" name="logos:spotify-icon" />
    <img
      src={albumImageSrc}
      width="30"
      height="30"
      alt="Spotify listenting to"
      class="rounded-sm"
    />
    <div class="flex flex-col">
      <h4 class="text-sm font-semibold text-neutral-300">
        {trackTitle}
      </h4>
      <p class="text-xs text-neutral-400">{artist}</p>
    </div>
  </div>
</a>
