<div
  class="prose mx-auto flex max-w-2xl flex-col text-sm leading-6 text-gray-300"
>
  <p class="mt-6">
    I write about a lot of things, mainly languages, ecoystems, and software
    design.
  </p>
</div>
