<div class="relative mx-auto mt-16 max-w-5xl">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}
    <article class="mx-auto max-w-2xl py-32">
        <header class="content mb-16">
            <h1>{{ title }}</h1>
            {{ content | widont }}
        </header>

        {{ collection:articles as="articles" paginate="10" }}
            {{ if no_results }}
                <h2 class="text-3xl tracking-tight italic">
                    Feel the rhythm! Feel the rhyme! Get on up, it's writing
                    time! Cool writings!
                </h2>
            {{ /if }}
            {{ articles }}
                <div class="mb-2">
                    <a
                        href="{{ url }}"
                        class="hover:text-teal text-lg leading-tight font-bold tracking-tight"
                    >
                        {{ title | widont }}
                    </a>
                </div>
            {{ /articles }}
            {{ paginate }}
                {{ if prev_page || next_page }}
                    <div
                        class="-mx-16 flex justify-between pt-16 text-xl font-bold"
                    >
                        <a
                            href="{{ prev_page }}"
                            class="{{ !prev_page ?= 'opacity-25' }}"
                        >
                            &larr; Back to the future
                        </a>
                        <a href="{{ next_page }}">
                            Forward to the past &rarr;
                        </a>
                    </div>
                {{ /if }}
            {{ /paginate }}
        {{ /collection:articles }}
    </article>
</div>
