---
import BaseHead from '@/components/BaseHead.astro';
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/footer/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

type Props = {
  title?: string;
  description?: string;
  image?: string;
  keywords?: string[] | undefined;
};

const { title, description, image, keywords } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead
      title={title ?? SITE_TITLE}
      description={description ?? SITE_DESCRIPTION}
      keywords={keywords}
      image={image ?? ''}
    />
  </head>
  <body class="h-full bg-neutral-900">
    <Navbar />
    <main class="mx-auto max-w-screen-lg px-6 pt-12 lg:px-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
